# markdownify
# playwright     1st 3 Requirements are for the web scraping part and on vercel they were taking too much space 
# requests

fastapi
uvicorn
python-dotenv
aiohttp
numpy
pydantic
beautifulsoup4
html2text
tqdm
markdown
python-multipart
setuptools